$width: 410px;

@import "./header";
@import "./main";
@import "./footer";

* {
   list-style: none;
   margin: 0;
   padding: 0;
   color: #222222;
   font-family: Gotham Pro;
}

body {
   min-width: 100%;
   background: #f0f0f0;
}
